*.log
._*

# Visual Studio 2015 cache directory
/.vs/
.venv
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
lib64
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
bin/
lib/python*
pyvenv.cfg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
liveprinter/static/test/

# Translations
*.mo
*.pot

# PyBuilder
target/
docs/
node_modules/

.parcel-cache/

# npm/nodejs

*.lock

# misc
goprosettings_donotcommit.txt 
/liveprinter/static/imgs/simple-cloud.svg
/liveprinter/static/imgs/diskette.svg
/liveprinter/static/imgs/9D61BE7C.jpg
/testing/saved
.vscode/*
package-lock.json
