<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LivePrinter async API test</title>
</head>
<body>
    <div class="container" id="body">
        <h1>Async Backend JSON-RPC Tester</h1>
        <div class="row">
            <div class="col-md-12">
                <h2>Send:</h2>
                <textarea cols="80" wrap="soft" rows="3" id="send-txt">
{ "jsonrpc": "2.0", "id": 5, "method": "set-serial-port","params": [ "dummy", 125000]}
                </textarea>
                <p class="jsonrpc">{ "jsonrpc": "2.0", "id": 6, "method": "get-serial-ports","params": []}</p>
                <p class="jsonrpc">{ "jsonrpc": "2.0", "id": 5, "method": "set-serial-port","params": [ "dummy", 125000]}</p>
                <p class="jsonrpc">{ "jsonrpc": "2.0", "id": 4, "method": "send-gcode","params": ["G28"]}</p>
                <p class="jsonrpc">{ "jsonrpc": "2.0", "id": 3, "method": "get-printer-state","params": []}</p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button id="send-btn" class="btn btn-lg btn-warning">send</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button id="run-btn" class="btn btn-lg btn-warning" data-toggle="button" aria-pressed="false" autocomplete="off">run</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Result:</h2>
                <textarea cols="80" wrap="soft" rows="3" id="result-txt">
{ "jsonrpc": "2.0", "id": 5, "method": "set-serial-port","params": [ "dummy", 125000]}
                </textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>batch gcode</h2>
                <textarea cols="80" wrap="soft" rows="3" id="gcode">
                    G1 X100.0 Y0 Z0
                    M400
                </textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="send-gcode-btn" class="btn btn-lg btn-warning">send</button>
            </div>
        </div>

    </div>

    <link rel="stylesheet" href="{{ static_url("lib/cached/bootstrap.min.css") }}" type="text/css">
    <script src="{{ static_url("lib/cached/jquery-3.3.1.min.js") }}"></script>
    <script src="{{ static_url("lib/cached/popper.min.js") }}"></script>
    <script src="{{ static_url("lib/cached/bootstrap.min.js") }}"></script>

    <script type="text/javascript">

        $.when($.ready).then(
            function () {
                "use strict;"

                function getCookie(name) {
                    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                    return r ? r[1] : undefined;
                }

                async function sendJSON(request) {
                    let result;
                    //console.log(request)
                    let args = JSON.parse(request)
                    args._xsrf = getCookie("_xsrf");
                    //console.log(args);
                    try {
                        result = await $.ajax({
                            url: "http://localhost:8888/jsonrpc",
                            type: "POST",
                            data: JSON.stringify(args),
                            timeout: 1000 // short!
                        });
                        result = JSON.stringify(result);
                    }
                    catch (error) {
                        // statusText field has error ("timeout" in this case)
                        result = JSON.stringify(error, null, 2);
                        console.log(result);
                    }
                    finally {
                        //console.log(result);
                        $("#result-txt").val(result);
                    }
                    return result;
                }

                let iii = 0;
                async function runagain(elem, delay)
                {
                    await sendJSON(`{ "jsonrpc": "2.0", "id": 6, "method": "get-serial-ports", "params": [${iii}] }`);
                    const running = elem.hasClass("active");
                    iii++;
                    console.log(iii);
                    setTimeout(async () => {
                        if (!running) return;
                        else {
                            await runagain(elem, delay);
                        }
                    }, delay);

                }

                /**
                 * Run a list of gcode asynchronously in a sequence and return list fo responses when finished
                 * @param list
                 */
                async function sendCodeList(list) {
                    let gcodeObj = { "jsonrpc": "2.0", "id": 4, "method": "send-gcode", "params": [] };
                    
                    let result = await Promise.all(list.map(async (gcode) => {
                        gcodeObj.params = [gcode];
                        console.log(gcodeObj);
                        return sendJSON(JSON.stringify(gcodeObj));
                    }));
                    return result;
                }

                $("#send-gcode-btn").on("click", async (e) => {
                    e.preventDefault();
                    let txt = $("#gcode").val().split("\n").filter(x => x != "");
                    console.log(txt);
                    let result = await sendCodeList(txt);
                    console.log(result);
                    // we're interested in the last one:
                    console.log(result[result.length-1]);
                    return;
                });


                $("#send-btn").on("click", async (e) => { e.preventDefault(); await sendJSON($("#send-txt").val()); });
                $("#run-btn").on("click", async (e) => {

                    e.preventDefault();
                    console.log("click");
                    if (!$(e.currentTarget).hasClass("active")) {
                        // run
                        runagain($("#run-btn"), 4);
                    }
                    else {
                        //stop
                    }
                });

                $(".jsonrpc").on("click", async (e) => {
                    e.preventDefault();
                    $("#result-txt").val("");
                    const request = e.currentTarget.innerHTML;
                    $("#send-txt").val(request);
                    await sendJSON(request);
                });

            });
    </script>
</body>
</html>
